In [2]:
import pandas as pd
import numpy as np

In [3]:
accepted_2014 = pd.read_parquet('../data/accepted-2014.parquet', engine='fastparquet')
accepted_2014.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,Year
__null_dask_index__,,,,,,,,,,,,,,,,,,,,,
69342,36805548,NaN,10400.0,10400.0,10400.0,36 months,6.99,321.08,A,A3,...,NaN,Cash,N,None,None,None,NaN,NaN,NaN,2014
69343,38098114,NaN,15000.0,15000.0,15000.0,60 months,12.39,336.64,C,C1,...,NaN,Cash,N,None,None,None,NaN,NaN,NaN,2014
69344,37822187,NaN,9600.0,9600.0,9600.0,36 months,13.66,326.53,C,C3,...,NaN,Cash,N,None,None,None,NaN,NaN,NaN,2014
69345,37662224,NaN,7650.0,7650.0,7650.0,36 months,13.66,260.20,C,C3,...,NaN,Cash,N,None,None,None,NaN,NaN,NaN,2014
69346,37612354,NaN,12800.0,12800.0,12800.0,60 months,17.14,319.08,D,D4,...,NaN,Cash,N,None,None,None,NaN,NaN,NaN,2014

In [4]:
accepted_2014.shape

(235629, 152)

In [13]:
columns = list(accepted_2014.columns)
columns

['id',
 'member_id',
 'loan_amnt',
 'funded_amnt',
 'funded_amnt_inv',
 'term',
 'int_rate',
 'installment',
 'grade',
 'sub_grade',
 'emp_title',
 'emp_length',
 'home_ownership',
 'annual_inc',
 'verification_status',
 'issue_d',
 'loan_status',
 'pymnt_plan',
 'url',
 'desc',
 'purpose',
 'title',
 'zip_code',
 'addr_state',
 'dti',
 'delinq_2yrs',
 'earliest_cr_line',
 'fico_range_low',
 'fico_range_high',
 'inq_last_6mths',
 'mths_since_last_delinq',
 'mths_since_last_record',
 'open_acc',
 'pub_rec',
 'revol_bal',
 'revol_util',
 'total_acc',
 'initial_list_status',
 'out_prncp',
 'out_prncp_inv',
 'total_pymnt',
 'total_pymnt_inv',
 'total_rec_prncp',
 'total_rec_int',
 'total_rec_late_fee',
 'recoveries',
 'collection_recovery_fee',
 'last_pymnt_d',
 'last_pymnt_amnt',
 'next_pymnt_d',
 'last_credit_pull_d',
 'last_fico_range_high',
 'last_fico_range_low',
 'collections_12_mths_ex_med',
 'mths_since_last_major_derog',
 'policy_code',
 'application_type',
 'annual_inc_joint',
 'dti_joint',
 'verification_status_joint',
 'acc_now_delinq',
 'tot_coll_amt',
 'tot_cur_bal',
 'open_acc_6m',
 'open_act_il',
 'open_il_12m',
 'open_il_24m',
 'mths_since_rcnt_il',
 'total_bal_il',
 'il_util',
 'open_rv_12m',
 'open_rv_24m',
 'max_bal_bc',
 'all_util',
 'total_rev_hi_lim',
 'inq_fi',
 'total_cu_tl',
 'inq_last_12m',
 'acc_open_past_24mths',
 'avg_cur_bal',
 'bc_open_to_buy',
 'bc_util',
 'chargeoff_within_12_mths',
 'delinq_amnt',
 'mo_sin_old_il_acct',
 'mo_sin_old_rev_tl_op',
 'mo_sin_rcnt_rev_tl_op',
 'mo_sin_rcnt_tl',
 'mort_acc',
 'mths_since_recent_bc',
 'mths_since_recent_bc_dlq',
 'mths_since_recent_inq',
 'mths_since_recent_revol_delinq',
 'num_accts_ever_120_pd',
 'num_actv_bc_tl',
 'num_actv_rev_tl',
 'num_bc_sats',
 'num_bc_tl',
 'num_il_tl',
 'num_op_rev_tl',
 'num_rev_accts',
 'num_rev_tl_bal_gt_0',
 'num_sats',
 'num_tl_120dpd_2m',
 'num_tl_30dpd',
 'num_tl_90g_dpd_24m',
 'num_tl_op_past_12m',
 'pct_tl_nvr_dlq',
 'percent_bc_gt_75',
 'pub_rec_bankruptcies',
 'tax_liens',
 'tot_hi_cred_lim',
 'total_bal_ex_mort',
 'total_bc_limit',
 'total_il_high_credit_limit',
 'revol_bal_joint',
 'sec_app_fico_range_low',
 'sec_app_fico_range_high',
 'sec_app_earliest_cr_line',
 'sec_app_inq_last_6mths',
 'sec_app_mort_acc',
 'sec_app_open_acc',
 'sec_app_revol_util',
 'sec_app_open_act_il',
 'sec_app_num_rev_accts',
 'sec_app_chargeoff_within_12_mths',
 'sec_app_collections_12_mths_ex_med',
 'sec_app_mths_since_last_major_derog',
 'hardship_flag',
 'hardship_type',
 'hardship_reason',
 'hardship_status',
 'deferral_term',
 'hardship_amount',
 'hardship_start_date',
 'hardship_end_date',
 'payment_plan_start_date',
 'hardship_length',
 'hardship_dpd',
 'hardship_loan_status',
 'orig_projected_additional_accrued_interest',
 'hardship_payoff_balance_amount',
 'hardship_last_payment_amount',
 'disbursement_method',
 'debt_settlement_flag',
 'debt_settlement_flag_date',
 'settlement_status',
 'settlement_date',
 'settlement_amount',
 'settlement_percentage',
 'settlement_term',
 'Year']

In [14]:
df = accepted_2014[['mo_sin_old_il_acct','mo_sin_old_rev_tl_op','mo_sin_rcnt_rev_tl_op','mo_sin_rcnt_tl',
                    'mort_acc','mths_since_last_delinq','mths_since_last_record','mths_since_last_major_derog',
                    'mths_since_rcnt_il','mths_since_recent_bc','mths_since_recent_bc_dlq','mths_since_recent_inq',
                    'mths_since_recent_revol_delinq','next_pymnt_d', 'num_accts_ever_120_pd','num_actv_bc_tl',
                    'num_actv_rev_tl','num_bc_sats','num_bc_tl','num_il_tl','num_op_rev_tl','num_rev_accts',
                    'num_rev_tl_bal_gt_0','num_sats','num_tl_120dpd_2m','num_tl_30dpd','num_tl_90g_dpd_24m',
                    'num_tl_op_past_12m','open_acc',]]

In [15]:
df

,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_last_delinq,mths_since_last_record,mths_since_last_major_derog,mths_since_rcnt_il,mths_since_recent_bc,...,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,open_acc
__null_dask_index__,,,,,,,,,,,,,,,,,,,,,
69342,76.0,290.0,1.0,1.0,1.0,42.0,NaN,59.0,NaN,5.0,...,2.0,14.0,32.0,9.0,17.0,0.0,0.0,0.0,4.0,17.0
69343,103.0,244.0,1.0,1.0,0.0,NaN,NaN,NaN,NaN,47.0,...,8.0,5.0,9.0,4.0,6.0,0.0,0.0,0.0,4.0,6.0
69344,183.0,265.0,23.0,3.0,0.0,NaN,NaN,NaN,NaN,24.0,...,17.0,8.0,26.0,7.0,12.0,0.0,0.0,0.0,3.0,12.0
69345,137.0,148.0,8.0,8.0,0.0,NaN,NaN,NaN,NaN,17.0,...,12.0,4.0,8.0,4.0,11.0,0.0,0.0,0.0,2.0,11.0
69346,16.0,170.0,21.0,16.0,5.0,17.0,NaN,36.0,NaN,21.0,...,1.0,5.0,7.0,5.0,8.0,0.0,0.0,0.0,0.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34723,121.0,128.0,15.0,3.0,4.0,NaN,NaN,NaN,NaN,69.0,...,20.0,9.0,12.0,7.0,18.0,0.0,0.0,0.0,1.0,18.0
34724,140.0,198.0,17.0,3.0,5.0,NaN,116.0,NaN,NaN,17.0,...,8.0,13.0,16.0,5.0,18.0,0.0,0.0,0.0,2.0,18.0
34725,65.0,130.0,5.0,5.0,2.0,13.0,NaN,NaN,NaN,5.0,...,9.0,13.0,16.0,3.0,21.0,0.0,0.0,0.0,4.0,21.0
34726,144.0,93.0,80.0,19.0,3.0,65.0,NaN,NaN,NaN,93.0,...,38.0,2.0,2.0,2.0,18.0,0.0,0.0,0.0,0.0,18.0
34727,93.0,166.0,4.0,4.0,2.0,9.0,NaN,NaN,NaN,4.0,...,3.0,4.0,17.0,2.0,6.0,0.0,0.0,0.0,2.0,6.0